/* Настройки контейнера для содержимого страницы */
    /* Для телефонов */
        @media (max-width: 767px) {
                #main_container { padding-top: 20px; padding-bottom: 20px; }
        }
    /* Для планшетов и нетбуков */
        @media (min-width: 768px) and (max-width: 1279px) {
                #main_container { padding-top: 20px; padding-bottom: 15px; }
        }
    /* Для HD ноутбуков */
        @media (min-width: 1280px) and (max-width: 1359px) {
            @media (max-height: 739px) {    /*  Для 16:9 */
                #main_container { padding-top: 20px; padding-bottom: 15px; }
            }
            @media (min-height: 740px) {    /* Для более квадратного соотношения сторон окна */
                #main_container { padding-top: 30px; padding-bottom: 25px; }
            }
        }
    /* Для HD+ ноутбуков */
        @media (min-width: 1360px) and (max-width: 1399px) {
            @media (max-height: 749px) {    /*  Если окно браузера по высоте не соответсвует ширине экране - Панель задач на Windows */
                #main_container { padding-top: 25px; padding-bottom: 15px; }
            }
            @media (min-height: 750px) {    /* Если окно браузера имеет нормальную высоту */
                #main_container { padding-top: 30px; padding-bottom: 25px; }
            }
        }
    /* Для ноутбуков с высоким разрешением */
        @media (min-width: 1400px) and (max-width: 1599px) {
            @media (max-height: 749px) {    /*  Если окно браузера по высоте не соответсвует ширине экрана - Панель задач на MacBook Air */
                #main_container { padding-top: 20px; padding-bottom: 10px; }
            }
            @media (min-height: 750px) {    /* Если окно браузера имеет нормальную высоту */
                #main_container { padding-top: 25px; padding-bottom: 25px; }
            }
        }
    /* Для ноутбуков с Retina и настольных компьютеров */
        @media (min-width: 1600px) {
                #main_container { padding-top: 60px; padding-bottom: 30px; }
        }
/* Адаптация контента под различные экраны */
    /* Растягиваем панели на всю ширину для устройств с низким разрешением. Иначе - содержимое не влезает */
        @media (max-width: 479px) { .product_panel, .checkups_panel { padding-left: 0px !important; padding-right: 0px !important; margin-left: 0px !important; margin-right: 0px !important; } }
        @media (min-width: 480px) and (max-width: 990px) { .product_panel, .checkups_panel { padding-left: 10% !important; padding-right: 10% !important; } }
    /* Фикс съезжающего по вертикали крестика для очистки поля поиска алергенов */
        @media (max-width: 767px) { .allergens_search + .add-clear-x { top: 37px !important; } }
    /* Подгонка предлагаемых (наиболее используемых) аллергенов под различные разрешения */
        @media (min-width: 768px) { .street_or_metrost { margin-top: 35px; text-align: center; } }
        @media (max-width: 479px) {
            .top_allergen_label { display: block; margin-bottom: 5px; }
            .top_allergens { margin-top: 5px; }
        }
        @media (min-width: 480px) and (max-width: 767px) {
            .top_allergen_label { display: inline-block; margin-bottom: 5px; margin-right: 5px; }
            .top_allergens { margin-top: 10px; }
        }
        @media (min-width: 768px) { .top_allergens { margin-top: -5px; } }
    /* Сужение списка аллергенов пользователя (Что бы не на весь блок растягивалось) */
        @media (min-width: 800px) { .allergens_list { padding-right: calc(100% - 66.665% + 10px); } }
    /* Адаптация вкладок продуктов на телефоне */
        /*@media (max-width: 479px) { .nav-tabs > li > a { padding-left: 7px; padding-right: 0px; } }*/
        @media (max-width: 479px) { .nav-tabs > li > a { padding-left: 10px; padding-right: 10px; } }
    /* Уменьшаем отступ сверху для модального для устройств, где оно не помещается */
        @media (max-width: 765px) { 
            @media (max-height: 399px) { .modal { padding-top: 10px !important; } }
            @media (min-height: 400px) and (max-height: 765px) { .modal { padding-top: 25px !important; } }
        }
/* Мелкие настройки общего контента */
    .label-normal { font-weight: normal !important; }
    .add-clear-x:hover { color: initial !important; }
    input[type="checkbox"] { margin-top: 3px; width: 15px; height: 15px; }
    ::-ms-clear { display: none; }
/* Настройки всплывающих подсказок (Tooltips) */
    :root { --tooltip-bg-color: darkslategray; }
    .tooltip { font-family: Verdana, Geneva, sans-serif; font-size: 14px; }
    .tooltip-inner { max-width: 200px; width: max-content; }
    .tooltip-inner { color: #fff; background-color: var(--tooltip-bg-color); }
    .tooltip.left .tooltip-arrow { border-left-color: var(--tooltip-bg-color); }    
    .tooltip.right .tooltip-arrow { border-right-color: var(--tooltip-bg-color); }
    .tooltip.top .tooltip-arrow, .tooltip.top-left .tooltip-arrow, .tooltip.top-right .tooltip-arrow { border-top-color: var(--tooltip-bg-color); }
    .tooltip.bottom .tooltip-arrow, .tooltip.bottom-left .tooltip-arrow, .tooltip.bottom-right .tooltip-arrow { border-bottom-color: var(--tooltip-bg-color); }
/* Общие параметры блоков */
    .product_panel > *, .test_border2 { background-color: rgba(255, 255, 255, 0.85); }
    .product_tabs, .test_border, .test_border2 { box-shadow: 0px 1px 7px 0px rgba(136,136,136,0.75); -webkit-box-shadow: 0px 1px 7px 0px rgba(136,136,136,0.75); }
    .or_span { margin-right: 5px; }
    .panel-heading > a { text-decoration: none; color: black; }
/* Параметры для блока с продуктами, местами, блюдами и аллергенами*/
    /* Настройки границы панели */
        .test_border { border: 1px solid lightgray; border-top: none; border-radius: 0px 0px 3px 3px; padding-left: 20px; padding-right: 20px; padding-bottom: 20px;}
    /* Настройки вкладок панели */
        #product_tabs, #product_tabs > li > a { border-radius: 3px 3px 0px 0px; }
        #product_tabs > li > a { color: rgb(74,36,4); }
        #product_tab, #meals_tab, #places_tab { min-height: 80px; }
        .product_panel ul.nav-tabs li.active a { background-color: rgba(255, 255, 255, 0.8); }
        .product_panel ul.nav-tabs li a:hover { background-color: rgba(255, 255, 255, 0.5); }
    /* Настройки поиска (любого) */
        .search_results { 
            position: absolute;
            z-index: 110;
            width: calc(100% - 30px);
            background-color: white;
            border-radius: 5px;
            box-shadow: 0px 1px 7px 0px rgba(136,136,136,0.75);            
            -webkit-box-shadow: 0px 1px 7px 0px rgba(136,136,136,0.75);
            max-height: 171px;
            overflow: auto; 
            -webkit-overflow-scrolling: touch;
        }
        .search_results { margin-top: -13px; }    /* Фикс для поля поиска, при использовавнии крестика на очистку поля */
        .search_results > *:first-child { background-color: #f5f5f5; }
        .search_result_element { margin-bottom: 1px; }
        .search_result_element > .glyphicon { position: relative; float: right; opacity:0.5; }
    /* Настройка строки добавления аллергенов */
        .add_allergens_row { padding-bottom: 30px; }
    /* Кнопка "Добавить" для поиска аллергенов */
        #btn_add_allergen > span.glyphicon-inline { margin-right: 10px; }
    /* Список пользовательских аллергенов */
        .allergens_list_row { min-height: 125px; }
        .allergens_list > .allergens_list_element { cursor: default; }
        .allergens_list > .allergens_list_element > span.glyphicon { cursor: pointer; }
        .allergens_list > .allergens_list_element > span.glyphicon { position: relative; float: right; padding: 0px; margin: 0px; font-size: 125%; }
        .allergens_list > .allergens_list_element > span.glyphicon:active { color: red; }
    /* Отображение элементов истории и панели в анализе продукта*/
        .checkup_history_element_status, .checkup_history_allergen_status { position: relative; float: right; font-weight: bold; }  
    /* Настройка подсказок для добавления/удаления аллергенов */
        .remove_allergen_info, .add_allergen_info { text-align: justify; text-justify: inter-word; }
    /* Параметры "популярных" аллергенов */
        .top_allergen { margin-right: 10px; font-size: 11px; cursor: pointer; user-select: none; padding-top: 5px; padding-bottom: 5px; }
        .top_allergen:hover { background-color: darkgray; }
        .top_allergen:active { background-color: darkslategray; }
    /* Предпочтения - Кашер и Халяль */
        .preferences_col { margin-left: 15px; }
    /* Настройки кнопки "Проверить" */
        .btn_check_product {
            width: 100%;
            background-color:rgb(177, 140, 84);
            border-color: rgb(74,36,4);
            text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3);
            -webkit-text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3);
        }
/* Панель с историей */
    /* Настройки границы панели */
        .test_border2 { border-radius: 3px; }  
    /* Отступ снизу панели, перед следующим содержимым (подсказки) */
        .checkups_panel { margin-bottom: 30px; }
    /* Прокрутка истории. Высота блока прокрутки - половина от высоты дисплея */
        .checkup_list { max-height: 50vh; overflow: auto; -webkit-overflow-scrolling: touch; }
    /* Скрываем кнопку очистки истории, если история пуста, если не пуста - скрываем уведомление о пустой истории */
        .checkup_list:empty + .btn_clear_history, .checkup_list:not(:empty) ~ .no_history_message { display: none; }
/* Параметры окна результатов - модального окна */
    /* Отключение прокрутки содержимого, когда открыто модальное окно */
        body.modal-open { overflow: hidden; }
    /* Кастомизация модального окна вывода результатов */
        .panel-heading { padding: 0; }
        .panel-heading > a > h4 { padding-top: 10px; padding-bottom: 10px; padding-left:15px; padding-right:15px; }
        .result_ok { background-color: #567c26 !important; }
        .result_text_ok { color: #567c26 !important; }
        .result_warning { background-color: orange !important; }
        .result_text_warning { color: orange !important; }
        .result_danger { background-color: red !important; }
        .result_text_danger { color: red !important; }
        #result_header, #result_close { margin-top: 7px; }
        .modal {
            margin-top: 50px; /* Navbar margin */
            padding-bottom: 80px; /* Footer padding + Navbar bottom margin fix */
        }
        .btn_close_checkup_results {
            width: 120px;
            position: relative;
            margin-left: calc(50% - 60px);
            margin-bottom: 20px;
            background-color: rgb(177, 140, 84);
            border-color: rgb(74,36,4);
            text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3);
            -webkit-text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3);
        }
    /* Стандартные параметры модального окна */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 150; /* Sit on top */
            padding-top: 50px;
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }
        .modal-content {
            position: relative;
            background-color: #fefefe;
            margin: auto;
            padding: 0;
            border: 1px solid #888;
            width: 80%;
            max-width: 600px;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
            -webkit-animation-name: animatetop;
            -webkit-animation-duration: 0.4s;
            animation-name: animatetop;
            animation-duration: 0.4s
        }
        @-webkit-keyframes animatetop {
            from {top:-300px; opacity:0} 
            to {top:0; opacity:1}
        }
        @keyframes animatetop {
            from {top:-300px; opacity:0}
            to {top:0; opacity:1}
        }
        .close {
            color: #000;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        .modal-header {
            padding: 2px 16px;
            background-color: purple;
            color: white;
        }
        .modal-body {padding: 2px 16px;}
        .modal-footer {
            padding: 2px 16px;
            background-color: purple;
            color: white;
        }