/* Настройки шрифтов для всей страницы */
body, body * { font-family: Verdana, Geneva, sans-serif; }
.lb-sm { font-size: 12px; }
.lb-md, h4 { font-size: 16px; }
.lb-lg { font-size: 20px; }

/* Навигационное меню */
#navbar-toggle-checkbox { display: none; }
#navbar-toggle-checkbox.noscript:checked ~ .collapse { display: block; }

/* Футер */
.footer { position: fixed; left: 0px; bottom: 0px; height: 25px; width: 100%; background-color: rgba(255, 255, 255, 0.85); z-index: 100; }
.page_content { margin-top: 50px; margin-bottom: 25px; }
a.anchor { display: block; position: relative; top: -50px; visibility: hidden; }

/* Общие мелкие настройки */
.glyphicon { position: relative; top: 2px; }
.glyphicon-inline { min-width: 25px; padding-left: 5px; padding-right: 5px; }
.unselectable { pointer-events: none; user-select: none; cursor: default; }
.nav.navbar-nav > li { user-select: none; }
.credit { font-weight: bold; color: darkslategray; line-height: 23px; }

/* Исправления для навигационного меню, когда элементы не помещаются в одну строку. !!!!! Нужно менять если количество элементов в меню изменится !!!!! */
@media (max-width: 995px) { .container { width: inherit; } }
@media (max-width: 850px) {
    .navbar-header { float: none; }
    .navbar-left,.navbar-right { float: none !important; }
    .navbar-toggle { display: block; }
    .navbar-collapse { border-top: 1px solid transparent; box-shadow: inset 0 1px 0 rgba(255,255,255,0.1); }
    .navbar-fixed-top { top: 0; border-width: 0 0 1px; }
    .navbar-collapse.collapse { display: none!important; }
    .navbar-nav { float: none!important; margin-top: 7.5px; }
    .navbar-nav>li { float: none; }
    .navbar-nav>li>a { padding-top: 10px; padding-bottom: 10px; }
    .collapse.in{ display:block !important; }
   .navbar-nav .open .dropdown-menu { position: static; float: none; width: auto; margin-top: 0; background-color: transparent; border: 0; -webkit-box-shadow: none; box-shadow: none; }
}