{% spaceless %} {% comment %} Spaceless нужен для минимизации HTML`а. Удаляет все лишние символы. {% endcomment %}
<!doctype html>
<html lang="en">
    <head>
    {% comment %} Общие параметры страницы {% endcomment %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>Can i eat this?</title>
        {% load staticfiles %}
        <link rel="icon" href="{% static '/icons/app_icons/favicon.png' %}">
    {% comment %} Apple WebApp Configuration {% endcomment %}
        <meta name="apple-mobile-web-app-capable" content="no">
        <meta name="apple-mobile-web-app-title" content="Can I eat this?">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static '/icons/app_icons/iphone-icon.png' %}">
        <link rel="apple-touch-icon" sizes="167x167" href="{% static '/icons/app_icons/ipad-icon.png' %}">
    {% comment %} Styles {% endcomment %}
        <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static '/css/basic.min.css' %}">
        {% block styles %}{% endblock %}
    {% comment %} Slow Scripts {% endcomment %}
        {% block js_resources %}{% endblock %}
        <script defer type="text/javascript" src="{% static '/js/jquery-3.1.1.min.js' %}"></script>
        <script defer type="text/javascript" src="{% static '/js/bootstrap.min.js' %}"></script>
        <script defer type="text/javascript" src="{% static '/js/basic.min.js' %}"></script>
        {% block scripts %}{% endblock %}
    {% comment %} Native embeded scripts {% endcomment %}
        <script>function addClassNative(a,b){let c=document.getElementById(a);c&&b&&(c.className=c.className.concat(" "+b))}function removeClassNative(a,b){let c=document.getElementById(a);c&&b&&-1!=c.className.search(b)&&(c.className=c.className.replace(b,""))}</script>
        {% comment %}
        <script>
            function addClassNative(elementID /* Имя элемента, куда добавляем класс */, className /* Имя добавляемого класса (строка) */) {
                let currentElement = document.getElementById(elementID);
                if ((currentElement) && (className)) { currentElement.className = currentElement.className.concat(" " + className); }
            }
            function removeClassNative(elementID /* Имя элемента, откуда удаляем класс */, className /* Имя удаляемого класса (строка) */) {
                let currentElement = document.getElementById(elementID);
                if ((currentElement) && (className) && (currentElement.className.search(className) != -1)) { currentElement.className = currentElement.className.replace(className, ""); }
            }
        </script>
        {% endcomment %}
        {% block scripts_embeded %}{% endblock %}
    </head>
    <body class="noscript" id="body">
    {% comment %} For JS-enabled browsers, deactivante non-JS behaviour {% endcomment %}
        <script>removeClassNative("body", "noscript");</script> 
    {% comment %} Navigation {% endcomment %}
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
            {% comment %} Решает проблему с работой меню на бразуерах бе з JS {% endcomment %}
                <input type="checkbox" class="noscript" id="navbar-toggle-checkbox">
            {% comment %} For JS-enabled browsers, deactivante non-JS behaviour {% endcomment %}
                <script>removeClassNative("navbar-toggle-checkbox", "noscript");</script>
            {% comment %} Navbar content {% endcomment %}
                <div class="navbar-header">
                    <label for="navbar-toggle-checkbox" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav_collapse" aria-expanded="false" aria-controls="nav_collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span> 
                    </label>
                    <span class="navbar-brand unselectable">Can I eat this?</span>
                </div>
                <div class="collapse navbar-collapse" id="nav_collapse">
                {% comment %} NavBar's Left Side {% endcomment %}
                    <ul class="nav navbar-nav" id="navbar_leftside">{% block navbar_left %}{% endblock %}</ul>
                {% comment %} NavBar's Right Side {% endcomment %}
                    <ul class="nav navbar-nav navbar-right" id="navbar_rightside">
                        {% block navbar_center %}{% endblock %}
                        {% comment %}
                        <li class="navbar_link" id="navbar_link_for_user">
                            <a href="#for_user"><span class="glyphicon glyphicon-inline glyphicon-check"></span>For users</a>
                        </li>
                        {% endcomment %}
                        {% comment %}
                        <li class="navbar_link" id="navbar_link_for_manufacturers">
                            <a href="#for_manufacturers"><span class="glyphicon glyphicon-inline glyphicon-barcode"></span>For manufactors</a>
                        </li>
                        <li class="navbar_link" id="navbar_link_for_restaurants_and_cafes">
                            <a href="#for_restaurants_and_cafes"><span class="glyphicon glyphicon-inline glyphicon-cutlery"></span>For restaurants</a>
                        </li>
                        {% endcomment %}
                        {% comment %}    <!-- Сейчас этот элемент скрыт. Тут нужно условие отображения от Django -->
                        <li class="navbar_link hidden" id="navbar_link_user_profile">
                            <a href="#user_profile"><span class="glyphicon glyphicon-inline glyphicon-user"></span>Личный кабинет</a>
                        </li>
                        {% endcomment %}
                        <li class="navbar_link" id="navbar_link_help">
                            <a href="#help"><span class="glyphicon glyphicon-inline glyphicon-question-sign"></span>Help</a>
                        </li>
                        {% block navbar_right %}{% endblock %}
                    </ul>
                </div>
                {% block navbar_scripts %}{% endblock %} {% comment %} Нужно для "активации" элемента меню, что отображает текущее положение пользователя на сайте {% endcomment %}                
            </div>
        </nav>
    {% comment %} Page Content {% endcomment %}
        <main class="page_content" id="page_content">{% block page_content %}{% endblock %}</main>
    {% comment %} Footer {% endcomment %}
        <footer class="footer container-fluid unselectable" id="footer"><div class="text-center credit">LogicLair. Ukraine. 2017</div></footer>
    </body>
</html>
{% endspaceless %}