{% extends "layout.html" %}
{% load staticfiles %}


{% block styles %}
<link rel="stylesheet" href="{% static 'css/jquery.fullpage.min.css' %}">
<link rel="stylesheet" href="{% static 'css/pages/index.css' %}">
<style>.photo_selector_placeholder > .photo_selector_mask { content: url("{% static '/icons/camera-icon.svg' %}"); }</style>
{% endblock %}


{% block scripts %}
<script defer type="text/javascript" src="{% static 'js/jquery.fullpage.extensions.min.js' %}"></script>
<script defer type="text/javascript" src="{% static 'js/pages/index.js' %}"></script>
{% endblock %}


{% block navbar_right %}
    <li class="navbar_link" id="navbar_link_barcode_scan" data-menuanchor="barcode_scan">
        <a href="#barcode_scan"><span class="glyphicon glyphicon-inline glyphicon-barcode"></span>Get product components via bar-code</a>
    </li>
    <li class="navbar_link" id="navbar_link_about" data-menuanchor="about">
        <a href="#about"><span class="glyphicon glyphicon-inline glyphicon-book"></span>About our Service</a>
    </li>
    <li class="navbar_link" id="navbar_link_privacy" data-menuanchor="privacy">
        <a href="#privacy"><span class="glyphicon glyphicon-inline glyphicon-lock"></span>Privacy & Terms</a>
    </li>
{% endblock %}

{% block navbar_scripts %}
<!-- Решение проблемы с подёргиванием элементов навигации при загрузки по якорю -->
    <script>
        // Помечаем текущую страницу активной на панели навигации
        addClassNative("navbar_link_barcode_scan", "active");
        // Скрипт в отдельные файлы не перемещать - он обязан находится именно в barcode_scan.html.
        if(window.location.hash) {
            // Находим все элементы (ссылки) в навигационном меню и удаляем со всех пометку активности
            for (let navbarElementName in document.getElementsByClassName("navbar_link")) { removeClassNative(navbarElementName, "active"); }
            // Добавляем пометку активности на нужный элемент по якорю
            let urlHash = window.location.hash.substring(1);
            addClassNative("navbar_link_" + urlHash, "active");
        }
    </script>
{% endblock %}


{% block page_content %}
<!-- Barcode Scan Section -->
    <section class="section container-fluid section_barcode_scan active" id="section_barcode_scan" data-anchor="barcode_scan">
        <noscript><a class="anchor" name="barcode_scan"></a></noscript>
        <form class="photo_selector_form" id="photo_selector_form" action='#' method='POST' enctype='multipart/form-data'>
            <label class="photo_selector_placeholder" id="photo_selector_placeholder" for="photo_selector">
                <h3 class="photo_selector_title" id="photo_selector_title">Take a bar-code photo</h3>
                <div class="photo_selector_mask" id="photo_selector_mask"></div>
                <div class="photo_selection_info" id="photo_selection_info">No photo selected</div>
            </label>
            <input class="photo_selector" id="photo_selector" name="photo_selector" type="file" accept="image/*">
            <input class="btn btn-lg btn-success" id="submit_button" type='submit' value='Let us ckeck your food for you' onclick="return false;">
        </form>
        <!--<a href="#about">About the Service</a>-->
    </section>
<!-- About Section -->
    <section class="section container-fluid section_about" id="section_about" data-anchor="about">
        <noscript><a class="anchor" name="about"></a></noscript>
        
    </section>
<!-- Privacy Section -->
    <section class="section container-fluid section_privacy" id="section_privacy" data-anchor="privacy">
        <noscript><a class="anchor" name="privacy"></a></noscript>
        
    </section>
{% endblock %}