{% extends "layout.html" %}
{% load staticfiles %}
{% comment %} Стили {% endcomment %}
    {% block styles %}
        <link rel="stylesheet" href="{% static 'css/pages/index.css' %}">
        <style>body { background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("{% static 'images/background.jpg' %}") no-repeat center center fixed; background-size: cover; }</style>
    {% endblock %}
{% comment %} URL для скриптов, подставляемые DJANGO {% endcomment %}
    {% block js_resources %}
        <script>let urls = { allergens_db: "{% url 'get_allergens_db' %}", check_product: "{% url 'check_product' %}", get_cities_list: "{% url 'get_cities_list_by_country' %}", streets_search: "{% url 'street_search' %}", metrost_search: "{% url 'metrostation_search' %}", place_search: "{% url 'place_search' %}", meal_search: "{% url 'meal_search' %}" };</script>
    {% endblock %}
{% comment %} Скрипты {% endcomment %}
    {% block scripts %}
        <script defer type="text/javascript" src="{% static 'js/js.cookie.min.js' %}"></script>
        <script defer type="text/javascript" src="{% static 'js/bootstrap-add-clear.min.js' %}"></script>
        <script defer type="text/javascript" src="{% static 'js/fuse.min.js' %}"></script>
        <script defer type="text/javascript" src="{% static 'js/pages/index.js' %}"></script>
    {% endblock %}
{% comment %} "Активация"" элемента навигационного меню {% endcomment %}
    {% block navbar_scripts %}
        {% comment %}<script>addClassNative("navbar_link_for_user", "active unselectable");</script>{% endcomment %}
    {% endblock %}
{% comment %} Содержимое страницы {% endcomment %}
    {% block page_content %}
        <div class="container main_container" id="main_container">
        {% comment %} Обновление CSRF Token`а в Cookies. Не убирать! {% endcomment %}
            {% csrf_token %}
        {% comment %} Модальное окно - Результаты проверки проудка, блюда, заведения {% endcomment %}
            <div class="modal" id="result_window">
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close" id="result_close">&times;</span>
                        <h3 id="result_header"></h3>
                    </div>
                    <div class="modal-body" id="result_body"></div>
                </div>
            </div>
        {% comment %} Панель истории и подказок {% endcomment %}
            <div class="col-xs-12 col-sm-12 col-md-5 col-md-push-7 col-lg-4 col-lg-push-8 checkups_panel" id="checkups_panel">
                <div class="test_border2 col-xs-12">
                    <div class="row">
                        <div class="col-xs-12"><h4><strong>Your search history:</strong></h4></div>
                        <div class="col-xs-12">
                            <div class="checkup_list list-group" id="checkup_list"></div>
                            <button type="button" class="btn btn-default form-control btn_clear_history" id="btn_clear_history"><span class="glyphicon glyphicon-inline glyphicon-floppy-remove"></span>Clear search history</button>
                            <p class="no_history_message text-center" id="no_history_message">You haven't run any searches yet</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12"><h4><strong>Instructions</strong></h4></div>
                        <div class="col-xs-12">
                            <p class="add_allergen_info hidden-xs"><span>Start by specifying the place you're dining at:</span>
                            <ul>
                                <li>Choose your country</li>
                                <li>Choose your city. <em>Note: if your city is not in list, you will still be able to retrieve information if
                                it's a chain restaurant and we have it in our database.</em>
                                    <ul>
                                        <li>If the city is chosen, choose street name OR tube station name.</li>
                                    </ul>
                                </li>
                                <li>Choose restaurant and meal.</li>
                                <li>Add your allergens.</li>
                                <li>Click 'Check' and get your answer!</li>
                            </ul>
                            </p>
                            <p class="add_allergen_info visible-xs">Start typing the name of the allergen, choose one from the list, then click on "Add". If your allergen is not in the list but you think it should be, send us an email.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12"><h4><strong>Coverage notice</strong></h4></div>
                        <div class="col-xs-12">
                            <p class="add_allergen_info">If you want specific country/city/restaurant to be added please notify us and we'll consider adding it!</p>
                        </div>
                    </div>
                </div>
            </div>
        {% comment %} Главная панель - Продукты, Блюда, Заведения и Аллергены {% endcomment %}
            <div class="col-xs-12 col-sm-12 col-md-7 col-md-pull-5 col-lg-8 col-lg-pull-4 product_panel" id="product_panel">
            {% comment %} Заголовки вкладок Продукт / Блюдо / Место {% endcomment %}
                <ul class="nav nav-tabs product_tabs" id="product_tabs">
                    <li id="meals_tab_header" class="active"><a href="#meals_tab" data-toggle="tab">Meal</a></li>
                    {% comment %}<li id="meals_tab_header" class="active"><a href="#meals_tab" data-toggle="tab">Meal<span class="glyphicon glyphicon-inline glyphicon-question-sign" data-toggle="tooltip" data-placement="auto right" title="Meal Tooltip"></span></a></li>                    {% endcomment %}
                    {% comment %}<li id="product_tab_header"><a href="#product_tab" data-toggle="tab">Packed Product<span class="glyphicon glyphicon-inline glyphicon-question-sign" data-toggle="tooltip" data-placement="auto right" title="Product Tooltip"></span></a></li>{% endcomment %}
                    {% comment %}<li id="places_tab_header"><a href="#places_tab" data-toggle="tab">Place<span class="glyphicon glyphicon-inline glyphicon-question-sign" data-toggle="tooltip" data-placement="auto right" title="Places Tooltip"></span></a></li>{% endcomment %}
                </ul>
            {% comment %} Вкладки и Аллергены {% endcomment %}
                <div class="test_border">
                {% comment %} Содержимое вкладок Продукт / Блюдо / Место {% endcomment %}
                    <div class="panel-body tab-content">
                    {% comment %} Вкладка "Блюда" {% endcomment %}
                        <div class="tab-pane row active" id="meals_tab">
                            <form class="form" method="POST" id="meal_info_form">
                                <div class="row">
                                    <div class="col-sm-6 col-md-8 col-lg-5">
                                        {% comment %} Это наш список стран, получаемый в контексте страницы. По-умолчанию, скриптами, будет выставлятся последнее выбранное значение пользователя. {% endcomment %}
                                        <div class="form-group">
                                            <label class="lb-md" for="meal_country">Country*:</label>
                                            <select class="form-control meal_country" id="meal_country" name="meal_country" required="required">
                                                {% for country in countries %}
                                                    <option {% if country.0 == "0" %}selected{% endif %} value="{{ country.0 }}">{{ country.2 }}</option>
                                                    {% comment %} selected - наше значение по-умолчанию, если пользователь ещё сам ничего не выбирал. Значение перезаписывается скриптами. {% endcomment %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-1"></div>
                                    <div class="col-sm-6 col-md-8 col-lg-5">
                                        <div class="form-group">
                                            <label class="lb-md label-normal" for="meal_city">City/Town:</label>
                                            <select class="form-control meal_city" id="meal_city" name="meal_city" required="required"></select>
                                        </div>
                                    </div>
                                    <!-- TODO    Добавить предупреждение о том, что не все города поддерживаются -->
                                </div>
                                <div class="row" id="street_or_metrost_row" hidden> {% comment %} hidden нужно только в том случае, если по-умолчанию у нас выбрас Not in list в Городах {% endcomment %}
                                    <div class="col-sm-6 col-md-8 col-lg-5">
                                        <div class="form-group">
                                            <label class="lb-md label-normal" for="meal_street_search">Street:</label>
                                            <input type="text" class="form-control" id="meal_street_search" name="meal_street_search" required="required" placeholder="Midsummer Blvd">
                                            <div class="search_results meal_street_search_results list-group" id="meal_street_search_results"></div>
                                        </div>
                                    </div>
                                    <div class="hidden-xs col-sm-1 hidden-md col-lg-1"><div class="street_or_metrost unselectable text-muted">OR</div></div>
                                    <div class="col-sm-5 col-md-8 col-lg-5">
                                        <div class="form-group">
                                            <label class="lb-md label-normal" for="meal_metrost_search"><span class="visible-xs-inline visible-md-inline text-muted unselectable or_span">OR</span>Tube station:</label>
                                            <input type="text" class="form-control" id="meal_metrost_search" name="meal_metrost_search" placeholder="">
                                            <div class="search_results meal_metrost_search_results list-group" id="meal_metrost_search_results"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-8 col-lg-5">
                                        <div class="form-group">
                                            <label class="lb-md" for="meal_place_search">Restaurant name*:</label>
                                            <input type="text" class="form-control" id="meal_place_search" name="meal_place_search" placeholder="Wetherspoons">
                                            <div class="search_results meal_place_search_results list-group" id="meal_place_search_results"></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-1"></div>
                                    <div class="col-sm-6 col-md-8 col-lg-5">
                                        <div class="form-group">
                                            <label class="lb-md" for="meal_name_search">Meal name*:</label>
                                            <input type="text" class="form-control" id="meal_name_search" name="meal_name_search" required="required" placeholder="Baked Potatoes">
                                            <div class="search_results meal_name_search_results list-group" id="meal_name_search_results"></div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    {% comment %} Вкладка "Продукт" {% endcomment %}
                        {% comment %}
                        <div class="tab-pane row" id="product_tab">
                            <form class="form" method="POST" id="product_info_form">
                                <div class="row">
                                    <div class="col-sm-6 col-md-8 col-lg-5">
                                        <div class="form-group">
                                            <label class="lb-md" for="product_name">Product name*:</label>
                                            <input type="text" class="form-control" id="product_name" name="product_name" required="required" placeholder="Name">
                                        </div>
                                    </div>
                                    <div class="col-lg-1"></div>
                                    <div class="col-sm-6 col-md-8 col-lg-5">
                                        <div class="form-group">
                                            <label class="lb-md label-normal" for="product_flavor">Flavour:</label>
                                            <input type="text" class="form-control" id="product_flavor" name="product_flavor" placeholder="Flavour">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-8 col-lg-5">
                                        <div class="form-group">
                                            <label class="lb-md" for="product_manufacturer">Made by*:</label>
                                            <input type="text" class="form-control" id="product_manufacturer" name="product_manufacturer" required="required" placeholder="Made by">
                                        </div>
                                    </div>
                                    <div class="col-lg-1"></div>
                                    <div class="col-sm-6 col-md-8 col-lg-5">
                                        <div class="form-group">
                                            <label class="lb-md label-normal" for="product_country">Made in:</label>
                                            <input type="text" class="form-control" id="product_country" name="product_country" placeholder="Made in">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        {% endcomment %}
                    {% comment %} Вкладка "Места" {% endcomment %}
                        {% comment %}
                        <div class="tab-pane row" id="places_tab">
                            <form class="form" method="POST" id="place_info_form">
                                <div class="row">
                                    <div class="col-sm-6 col-md-8 col-lg-5">
                                        <div class="form-group">
                                            <label class="lb-md" for="place_country">Country*:</label>
                                            <input type="text" class="form-control" id="place_country" name="place_country" required="required" placeholder="United Kingdom">
                                        </div>
                                    </div>
                                    <div class="col-lg-1"></div>
                                    <div class="col-sm-6 col-md-8 col-lg-5">
                                        <div class="form-group">
                                            <label class="lb-md" for="place_city">City/Town*:</label>
                                            <input type="text" class="form-control" id="place_city" name="place_city" placeholder="Milton Keynes">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-8 col-lg-5">
                                        <div class="form-group">
                                            <label class="lb-md label-normal" for="place_street">Street:</label>
                                            <input type="text" class="form-control" id="place_street" name="place_street" required="required" placeholder="Midsummer Blvd">
                                        </div>
                                    </div>
                                    <div class="hidden-xs col-sm-1 hidden-md col-lg-1"><div class="street_or_metrost unselectable text-muted">OR</div></div>
                                    <div class="col-sm-5 col-md-8 col-lg-5">
                                        <div class="form-group">
                                            <label class="lb-md label-normal" for="place_metrost"><span class="visible-xs-inline visible-md-inline text-muted unselectable or_span">OR</span>Tube Station:</label>
                                            <input type="text" class="form-control" id="place_metrost" name="place_metrost" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-8 col-lg-5">
                                        <div class="form-group">
                                            <label class="lb-md label-normal" for="place_place">Place name:</label>
                                            <input type="text" class="form-control" id="place_place" name="place_place" placeholder="Wetherspoons">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        {% endcomment %}
                    </div>
                {% comment %} Это форма добавление аллергенов с поиском {% endcomment %}
                    <div class="row add_allergens_row">
                        <div class="col-xs-12"><h4>Allergen:</h4></div>
                        <form class="form" method="POST" id="allergens_search_form">
                            <div class="col-sm-8 col-md-8 col-lg-8">
                                <div class="form-group">
                                    <label class="sr-only" for="allergens_search">Add allergen:</label>
                                    <input type="search" class="form-control allergens_search" id="allergens_search" name="allergens_search" placeholder="Allergen name">
                                    <div class="search_results allergens_search_results list-group" id="allergens_search_results"></div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <button type="button" class="btn btn-default form-control btn_add_allergen" id="btn_add_allergen"><span class="glyphicon glyphicon-inline glyphicon-plus"></span>Add</button>
                            </div>
                        {% comment %} Это список самых "популярных" аллергенов. Выводить через DJANGO {% endcomment %}
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="top_allergens" id="top_allergens">
                                    <span class="top_allergen_label">Quick add: </span>
                                    <span class="label label-default top_allergen">gluten</span>
                                    <span class="label label-default top_allergen">milk</span>
                                    <span class="label label-default top_allergen">peanuts</span>
                                    <span class="label label-default top_allergen">eggs</span>
                                    <!-- TODO    Исправить выпадение лейбелов за пределы блока при большом их количестве -->
                                </div>
                            </div>
                        </form>
                    </div>
                {% comment %} Список аллергенов пользователя {% endcomment %}
                    <div class="row allergens_list_row">
                        <div class="col-xs-12"><h4>Your allergens:</h4></div>
                        <div class="col-xs-12">
                            <div class="allergens_list list-group" id="allergens_list"></div>   {% comment %} Здесь и находится наш список аллергенов {% endcomment %}
                            <p class="no_allergens_message text-center" id="no_allergens_message" hidden>No allergens chosen</p>
                        </div>
                    </div>
                    {% comment %}
                    <div class="row preferences_row">
                        <div class="col-xs-12">
                            <h4>Restrictions:</h4>
                        </div>
                        <div class="col-xs-6 preferences_col">
                            <div class="checkbox">
                                <label><input type="checkbox" id="is_kosher">Kosher</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" id="is_halal">Halal</label>
                            </div>
                        </div>
                    </div>
                    {% endcomment %}
                {% comment %} Кнопка "Проверить". Центрирована через Bootstrap {% endcomment %}
                    <div class="row">
                        <div class="col-sm-3 col-md-2 col-lg-3"></div>
                        <div class="col-sm-6 col-md-8 col-lg-6">
                            <button type="button" class="btn btn-success btn-lg btn_check_product" id="btn_check_product">Check</button>{% comment %}rgb(130, 86, 24);{% endcomment %}
                        </div>
                        <div class="col-sm-3 col-md-2 col-lg-3"></div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}